-- CreateTable
CREATE TABLE "LoaProfile" (
    "id" TEXT NOT NULL,
    "orgId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "requirements" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "LoaProfile_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LoaAssignment" (
    "id" TEXT NOT NULL,
    "orgId" TEXT NOT NULL,
    "useCase" TEXT NOT NULL,
    "loaProfileId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "LoaAssignment_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "LoaProfile_orgId_idx" ON "LoaProfile"("orgId");

-- CreateIndex
CREATE INDEX "LoaAssignment_orgId_useCase_idx" ON "LoaAssignment"("orgId", "useCase");

-- AddForeignKey
ALTER TABLE "LoaProfile" ADD CONSTRAINT "LoaProfile_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES "Org"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LoaAssignment" ADD CONSTRAINT "LoaAssignment_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES "Org"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LoaAssignment" ADD CONSTRAINT "LoaAssignment_loaProfileId_fkey" FOREIGN KEY ("loaProfileId") REFERENCES "LoaProfile"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

