-- DropIndex
DROP INDEX "PresenceEvent_orgId_idx";

-- DropIndex
DROP INDEX "PresenceEvent_deviceId_orgId_idx";

-- DropIndex
DROP INDEX "PresenceEvent_receiverId_orgId_idx";

-- AlterTable
ALTER TABLE "PresenceEvent" DROP COLUMN "deviceId",
DROP COLUMN "suspiciousFlags",
DROP COLUMN "timestamp",
ADD COLUMN     "authResult" TEXT NOT NULL,
ADD COLUMN     "clientTimestampMs" BIGINT NOT NULL,
ADD COLUMN     "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
ADD COLUMN     "deviceIdHash" TEXT,
ADD COLUMN     "flags" INTEGER NOT NULL,
ADD COLUMN     "isAnonymous" BOOLEAN NOT NULL,
ADD COLUMN     "macHex" TEXT,
ADD COLUMN     "meta" JSONB,
ADD COLUMN     "reason" TEXT,
ADD COLUMN     "serverTimestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
ADD COLUMN     "signatureHex" TEXT,
ADD COLUMN     "tokenHash" TEXT NOT NULL,
ADD COLUMN     "tokenPrefix" TEXT NOT NULL,
ADD COLUMN     "userRef" TEXT,
ADD COLUMN     "version" INTEGER NOT NULL;

-- CreateIndex
CREATE INDEX "PresenceEvent_orgId_serverTimestamp_idx" ON "PresenceEvent"("orgId", "serverTimestamp");

-- CreateIndex
CREATE INDEX "PresenceEvent_orgId_receiverId_serverTimestamp_idx" ON "PresenceEvent"("orgId", "receiverId", "serverTimestamp");

-- CreateIndex
CREATE INDEX "PresenceEvent_orgId_deviceIdHash_idx" ON "PresenceEvent"("orgId", "deviceIdHash");

-- CreateIndex
CREATE INDEX "PresenceEvent_orgId_tokenHash_idx" ON "PresenceEvent"("orgId", "tokenHash");

